<html><head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link type="image/vnd.microsoft.icon" href="/static/Images/favicon.ico" rel="shortcut icon">
	<title>平行时空</title>     
    <meta name="keywords" content="平行时空">
    <meta name="description" content="平行时空">
    <link rel="stylesheet" href="/static/Stylesheets/index.css">
	<meta name="baidu-site-verification" content="8cqTwozTr4" />
</head>
<body>
<div class="header">
    <div class="content">
        <div class="logo"><img src="/static/Images/logo.png" alt="平行时空"></div>
        <div class="clearfix">
            <div class="left"><center><img src="/static/Images/show.jpg"></center></div>
            <div class="right">
                <div class="title"><center><img src="/static/Images/tipsbg.png"></center></div>
                <a href="/static/Download/平行时空.apk" class="download">立即下载</a>
                <p class="tips">2018-07-22 /  1.5.0.18  /  6.03MB</p>
            </div>
        </div>
    </div>
</div>

  <script type="text/javascript" src="/static/Scripts/jquery-1.7.2.js"></script>
<div class="footer">
    <p class="p1">济南涌起软件有限公司     鲁ICP备17025492号-1</p>
    <p class="p2">Copyright ©  2008 - 2018 pxsk.com All Rights Reserved</p>
</div>
</body></html>